.mainContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.roomsDisplay {
    /*height: 50%;*/
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 1rem;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    overflow: auto;
    flex: 1;
    gap: 1rem;
    /*border: 1px solid orange;*/
}

.pageTitle {
    font-size: 2rem;
    color: #eceff4;
    font-weight: 600;
    text-align: center;
}

.refreshButton {
    outline: none;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    color: #eceff4;
    cursor: pointer;
}
