.mainContainer {
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /*flex: 1;*/
    gap: 1rem;
}
