.mainContainer {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/office-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

form { 
    display: flex;
    flex-direction: column;
}

input {
    background-color: #d9d9d9;
    border-radius: 32px;
    border: 2px solid #4c566a;
    padding: 8px;
    text-align: center;
}

input:focus {
    outline: none;
}

input::placeholder{
    text-align: center;
    color: #4c566a;
}

#username {
    margin-bottom: 12px;
}

.calendarIcon {
    width: 250px;
    height: 250px;
}

.loginContainer {
    background-color: rgba(236, 239, 256, 0.6);
    /*width: 400px;*/
    /*height: 400px;*/
    padding: 16px 128px 24px 128px;
    border-radius: 32px;
    box-shadow: 0 4px 4px rgba(2, 7, 7, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personIcon {
    width: 50px;
    height: 50px;
    margin-top: 16px;
    margin-bottom: 4px;
}

.title {
    color: #3b4252;
    font-size: 40px;
    margin-bottom: 24px;
}

.loginButton {
    background-color: #3b4252;
    transition: background-color 0.4s;
    color: #d9d9d9;
    border: none;
    border-radius: 32px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 16px;
    width: 150px;
    align-self: center;
}

.loginButton:hover {
    background-color: #4c566a;
    transition: background-color 0.4s;
}

.forgotPassword {
    color: #3b4252;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    margin-top: 4px;
}

.forgotPassword:focus {
    outline: none;
    color: #4c566a;
}

.signUp {
    color: #3b4252;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    margin-top: 16px;
}

.errorMessage {
    color: #bf616a;
    text-align: center;
    margin-top: 4px;
}
