.mainContainer {
    background-image: url("../assets/mountain-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100dvh;
    @media (min-width: 600px) {
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
    }
}

.loginContainer {
    background: transparent;
    backdrop-filter: blur(30px);
    padding: 30px 40px;
    @media (min-width: 600px) {
        width: 420px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
    }
}

.loginContainer .personIcon {
    display: flex;
    justify-content: center;
    margin: 0 0 8px 0;
}

.loginContainer .personIcon img {
    width: 50px;
    height: 50px;
}

.loginContainer h1 {
    color: #eceff4;
    font-size: 36px;
    text-align: center;
}

.loginContainer .inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputBox input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #eceff4;
    padding: 20px 20px 20px 20px;
}

.inputBox input::placeholder {
    color: #eceff4;
}

.mainContainer .errorForgot {
    display: grid;
    margin: -1rem 0 1rem 0;
    grid-template-columns: 7fr 5fr;
}

.errorForgot .forgot {
    text-align: right;
    margin: 0 0.5rem 0 0;
}

.errorForgot .error {
    margin: 0 0 0 0.5rem;
}

.errorMessage {
    color: darkred;
}

.forgot a {
    color: #eceff4;
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}

.mainContainer button {
    width: 100%;
    height: 45px;
    background-color: #4c566a;
    transition: background-color 0.4s;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #eceff4;
    font-weight: 700;
}

.mainContainer button:hover {
    background-color: #3b4252;
    transition: background-color 0.4s;
}

.mainContainer button:focus {
    background-color: #3b4252;
    transition: background-color 0.4s;
}

.loginContainer .registerLink {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.registerLink p {
    color: #eceff4;
}

.registerLink p a {
    color: #eceff4;
    text-decoration: none;
    font-weight: 600;
}

.registerLink p a:hover {
    text-decoration: underline;
}
