.mainContainer {
    min-height: 100vh;
    background-image: url("../assets/mountain-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

