.mainContainer {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    grid-row-start: 1;
    grid-row-end: 3;
}

h2 {
    color: #eceff4;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 1rem;
    border-radius: 10px;
}

p {
    color: #eceff4;
    font-size: 16px;
    margin: 8px 0;
}
