.mainContainer {
    min-height: 100vh;
    background-image: url("../assets/mountain-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 1fr 7fr;
    padding: 20px;
}

.navigationContainer {
    display: flex;
    flex-direction: column;
}

.content {
    display: grid;
}
