.mainContainer {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1rem;
    grid-row-start: 1;
    grid-row-end: 3;
}
