.mainContainer {
    height: 100dvh;
    background-image: url("../../assets/mountain-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 1fr 7fr;
    gap: 1rem;
    padding: 1rem;
}

.navigationContainer {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    /* gap: 1rem; */
}
