.mainContainer {
    height: 100dvh;
    background-image: url("../../assets/mountain-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /*grid-template-rows: 1fr 7fr;*/
    padding: 1rem;
}

.navigationContainer {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
}

.content {
    /* border: 1px solid red; */
    /*display: grid;*/
    /*grid-template-columns: 1fr 3fr;*/
    display: flex;
    gap: 1rem;
    flex: 1;
}
