.mainContainer {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.dateText {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    color: #eceff4;
}

.dateText .date {
    color: #eceff460;
}

.selected {
    background: rgba(236, 239, 244, 0.1);
}

.selected .dateText .day {
    text-decoration: underline;
}
