.mainContainer{
    /*background: rgba(236, 239, 244, 0.1);*/
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    padding: 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    /*gap: 1rem;*/
}

.selected {
    border: 2px solid cornflowerblue;
}

.title {
    color: #eceff4;
    font-size: 1.25rem;
    font-weight: bold;
}

.time {
    color: #eceff460;
}
