.container {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;

    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.actions button {
    padding: 1rem 2rem;
    border-radius: 1rem;
    background: rgba(20, 161, 81, 0.2);
    border: 2px solid rgba(19, 185, 158, 0.2);
    color: rgb(101, 204, 184);
    cursor: pointer;
}
